.al_lf{
    text-align: left;
}
.al_rg{
    text-align: right;
}
.c1{
    background-color: blue;
}
mat-grid-tile {
    background-color: #64A3E3;
  }
.sizeImage{
    height: 50px;
    width: 50px;
}

.sizeImageDefault{
    height: 25px;
    width: 25px;
}